.form_box {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px 20px 0 20px;
    form {
        width: 45vw;
        .ng-valid {
            border-left: 5px solid green;
        }
        .ng-invalid {
            border-left: 5px solid rgb(128, 0, 0);
        }
        .btn {
            width: 100%;
            margin-top: 50px;
        }
    }
    table {
        width: 45vw;
        tr {
            height: 50px;
        }
    }
}

.btn-warning {
    width: 90%;
    background-color: #ffa500;
}

.btn-danger {
    width: 90%;
    background-color: #fb0707;
}