<ul class="nav nav-tabs">
    <a [routerLink]="[ '/works/mod6hw3']" class="navbar-brand">Last to works >>>></a>
    <li class="nav-item ">
        <a class="nav-link" aria-current="page" [routerLink]="[ '/works/mod6hw1']">Work 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/works/mod6hw2']">Work 2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/works/mod6hw3']">Work 3</a>
    </li>

    <a [routerLink]="[ '']" class="navbar-brand bacl_home">Bacl to home >>></a>
</ul>

<section>
    <router-outlet></router-outlet>
</section>