<div class="crnsor">>
    <div class="block_censorship">
        <div class="bad_words">
            <h3>Bad words:</h3>
            <p>{{bw_list}}</p>
        </div>
        <hr>
        <div class="input_bad_word">
            <input (focus)="clear_bw()" [(ngModel)]="inp_bw" type="text" class="form-control ds-input" [class]="bw_input">
            <button (click)="addBad()" type="button" class="btn btn-warning">Add</button>
            <button (click)="reset()" type="button" class="btn btn-danger">Reset</button>
        </div>
        <hr>
        <div class="result">
            <input (focus)="clear_text()" [(ngModel)]="inp_text" type="textarea" class="form-control ds-input" [class]="text_input">
            <button (click)="cenzor()" type="button" class="btn btn-success">Cenzor</button>
        </div>
    </div>
</div>